th.column-header-left {
  text-align: left !important;
}
.dot {
  height: 16px;
  width: 0px;
  border-radius: 70%;
  display: inline-block;
}
.ant-table-header-column,
.ant-table-column-sorters,
.ant-table-column-title {
  width: 100% !important;
}

.ant-table-column-title {
  font-size: 11pt !important;
  font-weight: bold !important;
  color: #4f4f4f !important;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.select-input-hei .ant-select-selection--single {
  height: 52px;
}

.place .ant-select-selection__rendered {
  line-height: 3.5;
}

.date-picker .ant-calendar-picker-input.ant-input {
  line-height: 1.5 !important;
  height: 52px !important;
}
