body {
  background: rgb(204,204,204); 
}

.PrintDiv{
  padding: 0;
  background: white;
  width: 794px;
  height: 1123px; 
  display: block;
  margin: 0 auto;
  margin-bottom: 0;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

.PrintPage {
	padding: 1cm;
  background: white;
  width: 794px;
  height: 1123px; 
  display: block;
  margin: 0;
	vertical-align: text-bottom;
  position: relative;
  
}

.PrintTitle {
	position: relative;
	height: 60px; 
  color: rgba(0,0,0);
}

.PrintTitleLeft{
	position: absolute;
  bottom: 0;
  left: 0;
  font-size: 20px;
	font-weight: bold;
}

.PrintTitleRight{
	position: absolute;
  bottom: 0;
  right: 0;
  font-size: 14px;
	font-weight: bold;
}

.PrintContent{
  font-size: 11px;
  text-align: right;
  color: rgba(0,0,0);
}

.PrintContent1{
  float: left;
  color: rgba(0,0,0);
}

.PrintContent2{
  float: left;
  padding-left: 20px;
  font-weight: bold;
  font-size: 14px;
  color: rgba(0,0,0);
}

.PrintContent3{
  float: left;
  padding-left: 40px;
  font-size: 14px;
  color: rgba(0,0,0);
}

.PrintContentCon {
  display: flex;
}

.PrintContent4{
  padding-top: 20px;
  font-size: 14px;
  float: left;
  color: rgba(0,0,0);
}

.PrintContent5{
  padding-top: 20px;
  font-size: 14px;
  float: left;
  padding-left: 40px;
  color: rgba(0,0,0);
}

.PrintContent6{
  padding-top: 20px;
  font-size: 14px;
}

.PrintLine{
  height: 2px;
  margin-top: 10px;
  background-color: rgba(0,0,0,0.5);
}

.PrintContentCon1{
  display: flex;
  font-size: 14px;
  color: rgba(0,0,0);
}

.PrintContent7{
  padding-top: 10px;
  float: left;
  font-weight: bold;
  width: 300px;
  font-size: 14px;
}

.PrintContent8{
  padding-top: 10px;
  padding-left: 10px;
  float: left;
  font-weight: bold;
  width: 400px;
  font-size: 14px;
}


.PrintContentCon2{
  display: block;
  width: 100%;
  font-size: 14px;
}

.PrintContent9{
  padding-top: 10px;
  float: right;
  text-align: right;
  font-weight: bold;
  font-size: 14px; 
}

.PrintContent10{
  padding-top: 10px;
  padding-left: 20px;
  float: right;
  text-align: right;
  font-weight: bold;
  font-size: 14px;
}

.PrintContent11 {
  padding-top: 50px;
  padding-left: 200px;
  font-size: 14px;
}

.PrintContent12 {
  padding-top: 50px;
  text-align: middle;
  padding-left: 20px;
  font-size: 14px;
}

.PrintContent13 {
  padding-top: 50px;
  text-align: middle;
  padding-left: 20px;
  font-size: 14px;
  color: rgba(0,0,0);
}


.PrintContent14 {
  position: absolute;
  width: 90%;
  bottom: 50px;
  font-size: 14px;
  color: rgba(0,0,0);
}


.PrintFooterLeft{
  float: left;
  font-size: 14px;
  color: rgba(0,0,0);
}


.PrintFooterRight{
  float: right;
  font-size: 14px;
  color: rgba(0,0,0);
}

button.print-button {
  width: 60px;
  height: 50px;
}
span.print-icon, span.print-icon::before, span.print-icon::after, button.print-button:hover .print-icon::after {
  border: solid 2px #333;
}
span.print-icon::after {
  border-width: 1px;
}

button.print-button {
  position: relative;
  padding: 0;
  border: 0;
  margin-top: 10px;
  border: none;
  background: transparent;
}

span.print-icon, span.print-icon::before, span.print-icon::after, button.print-button:hover .print-icon::after {
  box-sizing: border-box;
  background-color: #fff;
}

span.print-icon {
  position: relative;
  display: inline-block;  
  padding: 0;
  margin-top: 20%;

  width: 60%;
  height: 35%;
  background: #fff;
  border-radius: 20% 20% 0 0;
}

span.print-icon::before {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 12%;
  right: 12%;
  height: 110%;

  transition: height .2s .15s;
}

span.print-icon::after {
  content: " ";
  position: absolute;
  top: 55%;
  left: 12%;
  right: 12%;
  height: 0%;
  background: #fff;
  background-repeat: no-repeat;
  background-size: 70% 90%;
  background-position: center;
  background-image: linear-gradient(
    to top,
    #fff 0, #fff 14%,
    #333 14%, #333 28%,
    #fff 28%, #fff 42%,
    #333 42%, #333 56%,
    #fff 56%, #fff 70%,
    #333 70%, #333 84%,
    #fff 84%, #fff 100%
  );

  transition: height .2s, border-width 0s .2s, width 0s .2s;
}

button.print-button:hover {
  cursor: pointer;
}

button.print-button:hover .print-icon::before {
  height:0px;
  transition: height .2s;
}
button.print-button:hover .print-icon::after {
  height:120%;
  transition: height .2s .15s, border-width 0s .16s;
}

