.delete-icon {
  float: right;
  font-size: 18px;
}

.card-title {
  color: #1f1f1f;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
